__pycache__/
.venv/
.env
data/*.npy
recordings/
logs/
.agent/
.gemini/
.DS_Store
**/models/recognizer.onnx
**/models/mobilefacenet.onnx
*.pyc
**/node_modules/
**/dist/
bin/
.buildozer/
output/
build/
